[Desktop Entry]
Name=Sekkeh
Comment=Currency prices and conversion app
Exec=/usr/local/bin/sekkeh
Icon=/assets/icons/512.png
Version=1.0.0
Type=Application
Categories=Utility;Finance;
Terminal=false

